<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ODataValidationSuiteEntities" connectionString="metadata=res://*/ValidationService.csdl|res://*/ValidationService.ssdl|res://*/ValidationService.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=ODataValidationSuite;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="None"></authentication>
    <sessionState mode="Off" />
  </system.web>
  <appSettings>
    <add key="MaxPayloadByteCount" value="1000000" />
    <add key="MaxValidationJobQueueSize" value="100" />
    <add key="MaxConcurrentValidationJobs" value="4" />
    <add key="RulestorePath" value="~/bin/rulestore" />
    <add key="ExtensionStorePath" value="~/bin/extensions" />
    <add key="LoggingEnabled" value="false" />
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy usesystemdefault="True" bypassonlocal="True" />
    </defaultProxy>
  </system.net>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />

    <services>
      <service name="ODataValidator.ValidationService.ODataValidator" behaviorConfiguration="DataServiceBehavior">
        <endpoint binding="webHttpBinding" bindingConfiguration="higherMessageSize" contract="System.Data.Services.IRequestHandler"></endpoint>
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="higherMessageSize" maxReceivedMessageSize ="4000000" />
      </webHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="DataServiceBehavior">
          <serviceThrottling maxConcurrentCalls="16" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>